.list-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 1440px;
  padding: 0 30px 50px 0;
  margin: 0 auto;
  
  &__go-back {
    margin-left: 48px;
    margin-top: 20px;
  }
}
