.top-news {
  &__title {
    margin-bottom: 46px !important;
  }
  
  &__articles {
    padding-top: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .top-news {
    &__title {
      margin-bottom: 36px !important;
    }
  }
}
